main {
    padding: 0;
}

h1 {
    font-size: 25px;
    text-align: left;
    padding: 0 0.5rem;
}

p {
    padding: 0 0.5rem;
    font-size: 1rem;
    line-height: 20px;
}

.overlay,
.mainImage {
    width: 100%;
    height: 300px;
}

.overlay {
    display: flex;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

#images .overlay .enlarge {
    width: calc( 100vw - 65px - 65px) !important;
}

.overlay .enlarge svg {
    display: none;
}

.mainImage {
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
}

.mainImage img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    top: 0 !important;
    left: 0 !important;
    position: absolute;
    min-height: 300px;
}

.thumbnails {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* column-gap: 18px; */
    margin-top: 16px;
    /* overflow: hidden; */
    /* overflow-x: scroll; */
    text-align: center;
}

.thumbnails .center {
    display: flex;
    column-gap: 16px;
    overflow-x: auto;
    padding: 0 8px 8px 8px;
}

.thumbnails img {
    width: 100px;
}

section#product {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.price span {
    font-size: 2rem;
    font-weight: bold;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.rating .icon {
    color: goldenrod;
}

span.icon {
    color: rgb(0 18 30);
    width: 1.6rem;
}

#images .overlay .icon {
    color: rgb(255 255 255 / 60%);
    z-index: 100;
    text-align: center;
    width: 64px;
    padding: 1rem;
    height: 100%;
    cursor: pointer;
    display: flex;
}

.flexRow {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
}

.address span {
    display: block;
}

.mapIcon svg {
    width: 3rem;
}

.cta .row {
    text-align: center;
}

button.callToAction {
    font-size: 1.25rem;
    padding: 0.6rem 1.2rem;
    margin: 24px;
    background-color: #001f34;
}

.holder {
    padding: 1rem;
}

#ammenities h3 {
    padding: 0 12px;
}

#ammenities .row {
    column-gap: 10%;
    margin-bottom: 24px;
}

#ammenities .AmmenIcon {
    width: 20%;
    text-align: right;
}

#ammenities .AmmenText {
    width: 70%;
}

#ammenities .AmmenIcon svg {
    height: 32px;
}

@media screen and (min-width: 768px) {
    .overlay,
    .mainImage {
        width: 100%;
        height: 350px;
    }
}